body {
	font-family: 'Roboto Slab', serif;
	font-size: 0.9em;
	background-color:#F0F0F0;
}

h1 {
	margin-top:0px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 3em;
}

h2 {
	margin-top:50px;
	font-size: 1,5em;
}

.lien-exposes a {padding:0px 5px;color: #0066cc;text-decoration:none;}
.lien-exposes a:hover {color: #FFF;background-color: #0066cc;}

.lien-projets a {padding:0px 5px;color: #1c8efc;text-decoration:none;}
.lien-projets a:hover {color: #FFF;background-color: #1c8efc;}

.lien-workshop a {padding:0px 5px;color: #003d78;text-decoration:none;}
.lien-workshop a:hover {color: #FFF;background-color: #003d78;}

img {
	opacity: 0.5;
	max-width:100%;
	margin-bottom: 0;
	max-height: 400px;
}

img:hover {
	opacity: 1;
}

#contenu-gauche {
	position: fixed; 
	padding:2%;
	float:left;
	width:40%;
	background-color: #DDD;
	margin-left: 5%;
}

#article0, #article1, #article2, #article3, #article4, #article5, #article6, #article7, #article8, #article9, #article10, #article11, #article12, #article13 {
	display:none;
	padding:2%;
	float:right;
	width:40%;
	background-color: #DDD;
	margin-right: 5%;
}